../Practica3Monumentos (copia)/.gradle
/local.properties
*.iml
.idea
libraryCircleIndicator/*.iml
libraryTimePickerDialog/*.iml
.DS_Store
.gradle/*
build/
/captures
/reports
/.gradle
app/build/
apks
*.hprof
*.log
buildSrc/build
